<footer id="footer-section">
  <div class="footer-top-layout">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-lg-12">
          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>We at Indrik</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Quicklinks</h4>
            	<div>
            		<h5>Home</h5>
            		<h5>about us</h5>
            		<h5>services</h5>
            		<h5>contact</h5>
            	</div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="footer-col-item">
              <h4>Sign up for Newsletter</h4>
              <form class="signUpNewsletter">
                <input name="" class="gt-email form-control" placeholder="info@indrik.com" type="text">
                <input name="" class="btn-go" value="Go" type="button">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-layout">
    <div class="copyright-tag">Copyright © 2017 Indrik Technologies. All Rights Reserved.</div>
  </div>
</footer>