<app-header></app-header>

<section id="home">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12  center-align">
				<h1>SERVICES WE OFFER</h1>
			</div>
			<div class="col-md-4">
				<div class="card center-align">
				  <div class="card-header">
				    RUBY DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

				<div class="card center-align">
				  <div class="card-header">
				   	PYTHON DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

				<div class="card center-align">
				  <div class="card-header">
				    NODE DESIGN
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>


				<div class="card center-align">
				  <div class="card-header">
				    JAVA DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="card center-align">
				  <div class="card-header">
				    ANDROID DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

				<div class="card center-align">
				  <div class="card-header">
				    IOS DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

				<div class="card center-align">
				  <div class="card-header">
				    IONIC DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>


				<div class="card center-align">
				  <div class="card-header">
				    REACT DEVELOPMENT
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="card center-align">
				  <div class="card-header">
				    SEO
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

				<div class="card center-align">
				  <div class="card-header">
				    LOGO DESIGN
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

				<div class="card center-align">
				  <div class="card-header">
				    BRAND DESIGN
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>


				<div class="card center-align">
				  <div class="card-header">
				    BROCHURE DESIGN
				  </div>
				  <div class="card-body">
				    <h4 class="card-title"></h4>
				    <p class="card-text">Highly Scalable Web apps</p>
				    <button>Get Quotes</button>
				  </div>
				</div>

			</div>

		</div>
	</div>
</section>


<app-footer></app-footer>